<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dextra.sibela.github" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuscaUsuariosActivity"
            android:label="@string/title_activity_busca_usuarios" />
        <activity
            android:name=".BuscaRepositoriosActivity"
            android:label="@string/title_activity_busca_repositorios" />
        <activity android:name=".DadosUsuarioActivity" >
        </activity>
    </application>

</manifest>
